.wrongNetworkModal {
  background-color: #414040;
  padding-bottom: 0;
  border-radius: 8px;

  :global {
    .ant-modal-content {
      background-color: #414040;
      box-shadow: none;
    }
  }
}
